* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: monospace;
    line-height: 1.4em;
    color: rgba(20, 19, 19, 0.786);
}

/*GRID*/
.grid{
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(220px, auto);
h1 {
        text-decoration: underline;
        text-decoration-thickness: auto;  
    }
}
/*Header*/
.grid-itemA {
    background-color: rgb(204, 224, 226);
    grid-column: 2/-1;
    text-align: center;
    font-size: large;
    color: rgb(8, 8, 8);
}
.rounded_image {
    border-radius: 50%;
}
/*Details*/
.grid-itemB{
    background-color: rgb(189, 227, 245);
    grid-column: 1/1;
    grid-row: 1/8;
    color: rgb(58, 58, 119);
    
    
}
/*Skills*/
.grid-itemC {
    background-color: rgba(245, 245, 220, 0.704);
    grid-row: 8/18;
    grid-column: 1/1;
}
/*Education*/
.grid-itemD {
    background-color: azure;
    grid-column: 2/-1;
    grid-row: 2/15;
    
}
/*Personal Info*/
.grid-itemE {
    background-color: rgb(250, 240, 228);
    grid-column: 2/-1;
    grid-row: 15/30;
    color: rgb(28, 7, 98);
}
/*References*/
.grid-itemF {
    background-color: rgb(190, 233, 219);
    grid-column: 1;
    grid-row:18/20 ;
    color: rgb(14, 56, 26);
}